.tabs_buttons {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  padding: 6px;
  cursor: pointer;
}

.tab_button {
  font-size: 24px;
  padding: 12px;
  margin: 0 4px 0 4px;
  color: grey;
}

.active {
  font-size: 24px;
  padding: 12px;
  color: white;
}

