.p {
  font-size: 24px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 24px;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.preview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}

.mint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.modal_content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tx_link {
  cursor: pointer;
}

.tx_link:hover {
  opacity: 0.8;
}